body {
    font-family: sans-serif, sans-serif;
    background: url('https://img.freepik.com/fotos-premium/restaurante-japones-seccion-mostrador-pequeno-restaurante-tipico-estilo-tradicional-japones_873668-5085.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}
h1 {
    color: wheat; /* Solo los <h1> tienen color blanco */
}
h2{
    color:wheat
}
.caja {
    background-color: cornsilk;
    border: 1px solid #070707;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    margin: 10px auto;
    text-align: center; /* Asegura el texto centrado */
    display: flex; /* Activa Flexbox */
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Centra horizontalmente los elementos hijos */
}

.caja img {
    max-width: 100%;
    border-radius: 20px;
    display: block; /* Asegura que la imagen sea tratada como bloque */
    margin: 0 auto; /* Centra la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}
.nombre {
    font-size: 1.5em;
    margin: 10px 0;
}
.precio {
    font-size: 1.2em;
    color: rgb(15, 15, 14);
    margin: 10px 0;
}
.boton {
    background-color: #0a0b0c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.boton:hover {
    background-color: #292b2b;
}
header {
    background-color: rgba(210, 77, 87, 0.9); /* Color con opacidad para destacar sobre el fondo */
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: bold;
}

header .logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: auto;
    border-radius: 5px;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    font-size: 0.8rem;
    margin-top: 20px;
}

header .btn-home {
    position: absolute;
    right: 20px; /* Posiciona el botón en la esquina superior derecha */
    top: 50%;
    transform: translateY(-50%);
    background-color: #f1c40f; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none; /* Elimina el subrayado */
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

header .btn-home:hover {
    background-color: #d4ac0d; /* Color más oscuro al pasar el cursor */
}
